<aside class='header'>
  <figure>
    <%= link_to root_path do %>
      <%= sidebar_image_tag %>
    <% end %>

    <figcaption>
      <%= sidebar_tagline %>
    </figcaption>
  </figure>

  <nav class='header-menu'>
    <%= menu 'Main Menu' %>
  </nav>

  <nav class='header-social'>
    <%= social_links %>
  </nav>
</aside>
