<aside class='header'>
  <figure>
    <%= link_to root_path do %>
      <%= image_tag @header_image_url, alt: @site_title %>
    <% end %>

    <figcaption>
      <%= @header_tagline.html_safe %>
    </figcaption>
  </figure>

  <nav class='header-menu'>
    <%= menu 'Main Menu' %>
  </nav>

  <nav class='header-social'>
    <%= link_to 'https://www.facebook.com/stas.kravets', target: '_blank' do %>
      <%= fa_stacked_icon 'facebook inverse', base: 'circle', class: 'fa-1x' %>
    <% end %>

    <%= link_to 'https://vk.com/id5428998', target: '_blank' do %>
      <%= fa_stacked_icon 'vk inverse', base: 'circle', class: 'fa-1x' %>
    <% end %>

    <%= link_to 'https://www.behance.net/tomorrowfriday', target: '_blank' do %>
      <%= fa_stacked_icon 'behance inverse', base: 'circle', class: 'fa-1x' %>
    <% end %>

    <%= link_to 'https://www.pinterest.com/staskravets/', target: '_blank' do %>
      <%= fa_stacked_icon 'pinterest inverse', base: 'circle', class: 'fa-1x' %>
    <% end %>
  </nav>
</aside>